<p id="notice"><%= notice %></p>

<h1>Floorplans</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Floors</th>
      <th>Community</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @floorplans.each do |floorplan| %>
      <tr>
        <td><%= link_to floorplan.code, floorplan %></td>
        <td><%= floorplan.name %></td>
        <td><%= floorplan.floors %></td>
        <td><%= floorplan.community.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Floorplan', new_floorplan_path %>
