
<%= simple_form_for(@installation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.collection_select :unit_id, @units, :id, :unit %>
    <%= f.association :room_name %>
    <%= f.collection_select :product_id, @products, :id, :color %>
    <%= f.association :installer %>
    <%= f.input :install_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
